<a href="https://colab.research.google.com/github/prithvikolla/WebScraping/blob/master/PopularLanguageIN(MNC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Prog Languages Used in Popular Companies - Sheet1.csv")

In [3]:
df.head()

   Websites  ...                                      Notes
0    Google  ...  The Most used Search Engine in the World.
1  Facebook  ...  The Most Visisted Social networking Site.
2   Youtube  ...                                        NaN
3     Yahoo  ...                                        NaN
4      Etsy  ...                                        NaN

[5 rows x 6 columns]

In [4]:
list_Back = df["Database"]

In [5]:
conc_strings = ",".join(list_Back)

In [6]:
conc_strings

'BigTable, MariaDB,MariaDB, MySQL, HBase, Cassandra,Vitess, BigTable, MariaDB,PostgreSQL, HBase, Cassandra, MongoDB,MySQL, Redis,DynamoDB, RDS/Aurora, Redshift,MariaDB,MySQL,MySql,Microsoft SQL Server, Cosmos DB,Oracle DB,Microsoft SQL Server,Venice,MySQL, Redis,MariaDB'

In [7]:
list_B = conc_strings.split(",")

In [8]:
list_B

['BigTable',
 ' MariaDB',
 'MariaDB',
 ' MySQL',
 ' HBase',
 ' Cassandra',
 'Vitess',
 ' BigTable',
 ' MariaDB',
 'PostgreSQL',
 ' HBase',
 ' Cassandra',
 ' MongoDB',
 'MySQL',
 ' Redis',
 'DynamoDB',
 ' RDS/Aurora',
 ' Redshift',
 'MariaDB',
 'MySQL',
 'MySql',
 'Microsoft SQL Server',
 ' Cosmos DB',
 'Oracle DB',
 'Microsoft SQL Server',
 'Venice',
 'MySQL',
 ' Redis',
 'MariaDB']

In [9]:
from collections import Counter

In [10]:
Counter(list_B)

Counter({' BigTable': 1,
         ' Cassandra': 2,
         ' Cosmos DB': 1,
         ' HBase': 2,
         ' MariaDB': 2,
         ' MongoDB': 1,
         ' MySQL': 1,
         ' RDS/Aurora': 1,
         ' Redis': 2,
         ' Redshift': 1,
         'BigTable': 1,
         'DynamoDB': 1,
         'MariaDB': 3,
         'Microsoft SQL Server': 2,
         'MySQL': 3,
         'MySql': 1,
         'Oracle DB': 1,
         'PostgreSQL': 1,
         'Venice': 1,
         'Vitess': 1})

In [12]:
#Popular DataBase by usage in TOP MNCS
MariaDB: 5
MySQL: 5

SyntaxError: ignored