In [1]:
#https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW
#https://www.imdb.com/chart/top

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [26]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
ID_Top = [ ]
Title_Top = [ ]
LTG_Top = [ ]
Year_Top = [ ]
i = [0,200,400,600,800]
for j in i:
 page = requests.get('https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset='+ str (j))
 soup = BeautifulSoup(page.content,'html.parser')
 ID = soup.find_all('td',class_ = 'a-text-right mojo-header-column mojo-truncate mojo-field-type-rank')
 Title = soup.find_all('td', class_ = 'a-text-left mojo-field-type-title')
 LTG = soup.find_all('td', class_ = 'a-text-right mojo-field-type-money')
 Year = soup.find_all('td', class_ = 'a-text-left mojo-field-type-year')
 for i in ID:
   ID_Top.append(i.text)
 for i in Title:
   Title_Top.append(i.text)
 for i in LTG:
   LTG_Top.append(i.text)
 for i in Year:
   Year_Top.append(i.text)

In [27]:
df_Top_Movies_1000 = pd.DataFrame({'ID': ID_Top,'Title': Title_Top,'Life_Time_Gross': LTG_Top,'Year': Year_Top})

In [28]:
df_Top_Movies_1000.head()

  ID                                       Title Life_Time_Gross  Year
0  1                           Avengers: Endgame  $2,797,800,564  2019
1  2                                      Avatar  $2,790,439,092  2009
2  3                                     Titanic  $2,195,170,133  1997
3  4  Star Wars: Episode VII - The Force Awakens  $2,068,455,512  2015
4  5                      Avengers: Infinity War  $2,048,359,754  2018

In [29]:
df_Top_Movies_1000.to_excel('Top_1000_Movies_Data.xlsx',index= False)

In [35]:
Title_Top = [ ]
Rating_Top = [ ]
Year_Top = [ ]
page1 = requests.get('https://www.imdb.com/chart/top')
soup = BeautifulSoup(page1.content,'html.parser')
Title = soup.find_all('td',class_='titleColumn')
Year = soup.find_all('span',class_ = 'secondaryInfo')
Rating = soup.find_all('td',class_='ratingColumn imdbRating')
for i in Title:
  Title_Top.append(i.text)
for i in Year:
  Year_Top.append(i.text)
for i in Rating:
  Rating_Top.append(i.text)

In [36]:
df_Top_250_Movies = pd.DataFrame({'Title':Title_Top,'Year':Year_Top,'IMDB_Rating':Rating_Top})

In [37]:
df_Top_250_Movies.to_excel('Top_250_Movies_IMDB_R_Data.xlsx')